@font-face {
    font-family: "Club Type W01 Medium";
    src: url(/museo-coalico/src/assets/Club\ Type\ W01\ Medium.ttf);
}

:root{
    /*shine*/
    --duration: 5s;
    --text-color: rgba(255, 255, 255, 0.3);
    --bgr-color: #333;
    /*Logo colors*/
    --color-logo-red: #c4001d;
    --color-logo-blue: #0000a6;
    --color-logo-yellow: #fabe00;
    /*Title colors*/
    --color-red: #fe0000;
    --color-orange: #fe6c01;
    --color-yellow: #fed300;
    --color-blue: #0ae3cf;
    --color-green: #05cd5c;
}

body {
    background-image: url(/museo-coalico/src/assets/fondos/fondo.png);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

main h1 {
    font-family: "Club Type W01 Medium";  
    font-size: 11vw;
    color: var(--color-logo-yellow);
    text-shadow: 9px 9px 10px black;
}

main p {
    font-family: “Helvetica Neue”, Helvetica, Arial, sans-serif;
    color: white;
    top: 20%;
    font-size: 2vw;
}

/* Container of the title and the character(background) */
#encabezado
{
    top: 20%;
    left: 50px;
    right: 50px;
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px)
{
    main h1 {
        font-size: 5vw;
    }
}

/* Medium devices until 767.98px and down (Cellphone and tablet)*/
@media screen and (max-width: 767.98px)
{
    #logo-cat{
        max-width: 10vw;
        max-height: 10vh;
        top: 2.8%;
        left: 84.5%;
    }
    #encabezado {
        top: 10%;
        left: 10%;
        right: 0px;
    }
    main p {
        font-size: 4vw;
        max-width: 90%;
    }
    main h1 {
        max-width: 90%;
    }
}

