@font-face {
    font-family: "Club Type W01 Medium";
    src: url(./assets/Club\ Type\ W01\ Medium.ttf);
}

#body {
    min-height: 100%;
    flex-direction: column;
}

.h1 .h2 .h3 .h4{
    font-family: "Club Type W01 Medium";
    color: #010413;
}

.title {
    font-family: "Club Type W01 Medium";
    color: #010413;
    font-size: 3em;
}
    .general-title {
        font-size: 10vw;
        color: white;
        text-shadow: 1px 1px 4px #000000;
    }

.paragraph {
    font-family: “Helvetica Neue”, Helvetica, Arial, sans-serif;
    font-size: 1.5em;

}

.banner {
    background-image: url(./assets/fondos/banner-quienes-somos.jpeg);
    min-height: 25vh;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
}