@font-face {
    font-family: "Club Type W01 Medium";
    src: url(Club\ Type\ W01\ Medium.ttf)
}

:root{
    /*shine*/
    --duration: 5s;
    --text-color: rgba(255, 255, 255, 0.3);
    --bgr-color: #333;
    /*Logo colors*/
    --color-logo-red: #c4001d;
    --color-logo-blue: #0000a6;
    --color-logo-yellow: #fabe00;
    /*Title colors*/
    --color-red: #fe0000;
    --color-orange: #fe6c01;
    --color-yellow: #fed300;
    --color-blue: #0ae3cf;
    --color-green: #05cd5c;
}

#body-post {
    background-image: url("../../../assets/fondos/fondo.png");
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.titulo-post {
    font-family: "Club Type W01 Medium";  
    font-size: 5vw;
    color: var(--color-logo-yellow);
    text-shadow: 9px 9px 10px black;
}

.p-post {
    font-family: “Helvetica Neue”, Helvetica, Arial, sans-serif;
    color: white;
    top: 20%;
    font-size: 1.5vw;
}

.scroll-p {
    overflow-y: auto;
    margin: 10px;
}

/* Container of the title and the character(background) */
#encabezado-p
{
    top: 15%;
    left: 50px;
    right: 50px;
}

/* Button back */
.hover-back {
    border-radius: 60px;
    width: 4em;
    height: 4em;
    position: absolute;
    left: 2%;
    top: 1%;
    z-index: 300;
}

.hover-back:hover {
    background-color: cornsilk;
    opacity: 0.3;
}

.PDF-format {
    width: 100%;
    height: 15%;
    margin-bottom: 8%;
    left: 50%;
    overflow: auto;
}

.iframe-format {
    width: 100%;
    height: 14em;
}

@media screen and (max-width: 575.98px)
{
    .PDF-format {
        width: 105%;
        height: 15%;
        left: 0;
        margin-top: 95%;
    }
    .iframe-format {
        width: 105%;
        height: 14em;
        left: 0;
        margin-top: 95%;
    }
}
@media screen and (min-width: 575.98px) and (max-width: 767.98px)
{
    .PDF-format {
        width: 105%;
        height: 18%;
        margin-top: 109%;
    }
    .iframe-format {
        width: 105%;
        height: 21em;
        margin-top: 100%;
    }
}
@media screen and (min-width: 767.98px) and (max-width: 991.98px)
{
    .PDF-format {
        height: 16%;
    }
    .image-format {
        max-height: 300px;
    }
    .iframe-format {
        height: 16em;
    }
}
@media screen and (min-width: 991.98px) and (max-width: 1199.98px)
{
    .PDF-format {
        height: 20.5%;
    }
    .image-format {
        max-height: 360px;
    }
    .iframe-format {
        height: 21em;
    }
}
@media screen and (min-width: 1199.98px) {
    .PDF-format {
        height: 25%;
    }
    .image-format {
        max-height: 430px;
    }
    .iframe-format {
        height: 26em;
    }
}




/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px)
{
    .titulo-post {
        font-size: 2.6vw;
    }
    .image-format {
        width: 52%;
        height: auto;
        margin-bottom: 8%;
        left: 10%;
    }
}

@media screen and (min-width: 991.98px) {
    
    .titulo-post {
        margin-left: 3rem;
        margin-right: 3em;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
    .hover-back:hover {
        width: 4.5vw;
        height: 4.5vw;
        left: 4.5%;
        top: 5.6%
    }
    #encabezado-p {
        top: 15%;
        left: 5%;
        right: 5%;
    }
    .p-post {
        font-size: 1.55vw;
        max-width: 95%;
    }
    .scroll-p {
        height: 28vw;
        width: 90%;
        line-height: normal;  
    }
}
@media screen and (max-width: 575.98px) {
    .p-post {
        font-size: 3.7vw;
        max-width: 95%;
    }
    .scroll-p {
        height: 30vw;
        max-height: 140px;
        width: 90%;
        overflow-y: scroll;
        line-height: normal;  
    } 
}

/* Medium devices until 767.98px and down (Cellphone and tablet)*/
@media screen and (max-width: 767.98px) {
    .hover-back:hover {
        width: 15vw;
        height: 15vw;
        left: 1.2%;
        top: 0.7%
    }
    #encabezado-p {
        top: 10%;
        left: 8%;
        right: 8%;
    }
    .image-format {
        width: 75%;
        margin-bottom: 5%;
        margin-top: 75%;
        left: 14%;
    }
}

/* Medium devices until 767.98px and down (Cellphone and tablet)*/
@media screen and (min-width: 575.98px) and (max-width: 767.98px)
{
    .titulo-post {
        max-width: 90%;
    }
    .p-post {
        font-size: 3.5vw;
        max-width: 95%;
    }
    .scroll-p {
        height: 30vw;
        max-height: 230px;
        width: 90%;
        line-height: normal;  
    }
}

/* Medium devices between 767.98px and 991.98px */
@media screen and (min-width: 767.98px) and (max-width: 991.98px) {
    .hover-back:hover {
        width: 4vw;
        height: 4vw;
        left: 4.5%;
        top: 5.5%
    }
    #encabezado-p {
        top: 15%;
        left: 3%;
        right: 5%;
    }
    .p-post {
        font-size: 1.5vw;
        max-width: 95%;
    }
    .scroll-p {
        height: 28vw;
        width: 90%;
        line-height: 2.3vh;  
    }
}

/* Medium devices between 991.98px and 1199.98px */
@media screen and (min-width: 991.98px) and (max-width: 1199.98px) {
    .hover-back:hover {
        width: 4.3vw;
        height: 4.3vw;
        left: 4.5%;
        top: 6.4%
    }
    #encabezado-p {
        top: 15%;
        left: 3%;
        right: 5%;
    }
    .p-post {
        font-size: 1.5vw;
        max-width: 95%;
    }
    .scroll-p {
        height: 29vw;
        width: 90%;
        line-height: 2.8vh;  
    }
}

/* Scroll bar */
::-webkit-scrollbar {
    width: 0.6em;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgb(122,153,217)),
									   color-stop(0.72, rgb(73,125,189)),
									   color-stop(0.86, rgb(28,58,148)));
}

